{% extends "base.html" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
    <ul>
        <img src="{{ movie.poster.url }}" width="130" height="150"></li>
        <li>Название: {{ movie.title }}</li>
        <li>Описание: {{ movie.description }}</li>
        <li>Жанр: 
            {% for elem in movie.tags.all %}
                {% if forloop.last %}
                    {{ elem.name }}
                {% else %}
                    {{ elem.name }},
                {% endif %}
            {% endfor %}
        </li>
        <li>Дата выхода: {{ movie.release_date }}</li>
        <li>Рэйтинг: {{ movie.rating }}</li>
    </ul>
{% endblock %}