{% extends "base.html" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
    <ul>
        <img src="{{ movie.poster.url }}" width="130" height="150"></li>
        <li>Title: {{ movie.title }}</li>
        <li>Description: {{ movie.description }}</li>
        <li class="hr">Category: 
            {% for elem in movie.tags.all %}
                {% if forloop.last %}
                    {{ elem.name }}
                {% else %}
                    {{ elem.name }}
                {% endif %}
            {% endfor %}
        </li>
        <li>Release date: {{ movie.release_date }}</li>
        <li>Rating: {{ movie.rating }}</li>
    </ul>
{% endblock %}